page-videosearch {
    .icon-play-video{
        z-index: 100;
    position: absolute;
    z-index: 100;
    position: absolute;
    margin-top: 100px;
    text-align: center;
    margin-left: 42%;
    font-weight: bolder;
    font-size: 40px;
    }
}
