<!--
  Generated template for the BlogfullPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Blog</ion-title>
        </ion-navbar>
</ion-header>

<ion-content>
  <ion-header color="danger" class='extra-header-style' style="margin-top:0px;">
    <ion-title>
      <h5 style="color:white;"><ion-icon (click)="backToContentPage()" name="arrow-back"></ion-icon> 
        <span style="margin-left:10px;width:90%;" ></span> 
        Comments&nbsp;<ion-icon name="chatboxes" (click)="SendToCommentsPage()"> </ion-icon><ion-badge 
        style="position: absolute;
        margin-top: -8px;
        margin-left: -8px" (click)="SendToCommentsPage()" >{{ total }}</ion-badge>
          </h5>   
    </ion-title>
        </ion-header>

        <div class="contents-here" *ngFor="let item of response_data" style="margin-top:100px;">
            <img  style="" class="img-full" src="{{ image }}/{{ item.file_name }}"/><br>
            <h3 style="font-size:20px;font-weight:bolder;text-align:center;margin-top:200px;">{{ header }}</h3> 
             <div   #myContainer class="content-post"[innerHTML]="item.post | safehtml   ">
             </div>          
        </div>

        <ion-list style="margin-top:10px;margin-bottom: 10px;">
            <ion-item *ngFor="let items of lastTenResponse"  (click)="SendToFullContentPage(items.id,items.header)" >
              <ion-thumbnail item-left>
                <img src="{{ image }}/{{ items.file_name }}">
              </ion-thumbnail>
              <h4 style="font-weight:bolder;">{{ items.header }}</h4>
              <p> <b><span style="font-size:10px;">  <ion-icon name="eye"></ion-icon> {{ items.clicks }} views</span> 
               &nbsp;&nbsp; <span style="font-size:10px;"> <ion-icon name="clipboard"></ion-icon> {{ items.month }}/{{ items.year }}</span> 
      </b></p>
            </ion-item>
          </ion-list>
        
      <ion-card *ngFor="let contents of content_creator">
        <img  src="{{ image }}/{{ contents.content_creator_image }}"/>
        <ion-card-content>
          <ion-card-title>
            <b>{{ contents.content_creator_name }}</b>
          </ion-card-title>
          <p>
            {{ contents.content_creator_description }}
          </p>
        </ion-card-content>
      </ion-card>
          
</ion-content>
<ion-fab bottom right  (click)="shareContent()" >
    <button ion-fab color="danger"><ion-icon name="share"></ion-icon></button>
  </ion-fab>

